html {
  background: rgb(36, 48, 156);
  font-family:'Helvetica';
}

body {
  background: white;
  margin: 30px 80px;
  padding: 2em;
  line-height: 2em;
  border: 0.2em solid black;
}

h1 {
  margin-top: 0;
}

hr {
  color: black;
  border: 1px solid grey;
}